{
  "extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 10,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "import/no-anonymous-default-export": [
      1,
      {
        "allowObject": true
      }
    ],
    "react/jsx-pascal-case": [
      2,
      {
        "allowNamespace": true
      }
    ],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "prefer-const": [
      1,
      {
        "destructuring": "all"
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "controlComponents": ["Checkbox"],
        "depth": 3
      }
    ]
  }
}
