*.log
.DS_Store
node_modules
packages/*/node_modules
dist
packages/*/dist
packages/*/.next
packages/*/coverage
test-output.*
*.cache
storybook-static
.env
.env.*
.eslintcache
packages/*/tsconfig.tsbuildinfo
tsconfig.tsbuildinfo

# Yarn
yarn-error.log
.pnp/
.pnp.js
# Yarn Integrity file
.yarn-integrity

# Yarn 2 build artifacts
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions


# Editor-specific
.vscode
.idea

# verdaccio
.verdaccio-db.json

# turbo
.turbo

#arweave
wallet.json
keyfile.json
